header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header .create-thread {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.thread-list {
  padding: 20px;
}

.thread-list h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.thread-list ul {
  list-style-type: none;
  padding: 0;
}

.thread-list li {
  margin-bottom: 10px;
}

.thread-list li a {
  display: block;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.thread-list li a:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-thread {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
}

.new-thread h2 {
  margin-bottom: 20px;
}

.new-thread form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-thread input {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
}

.new-thread button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #a4d3a2;
  border: none;
  color: #fff;
  cursor: pointer;
}

.new-thread button[type="button"] {
  background-color: #007bff;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.post {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.new-post textarea {
  width: 80%;
  height: 50px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.new-post button {
  background-color: #8fce7f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
