header {
  background-color: #4caf50;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header .create-thread {
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

.threads {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 5px;
}

.threads h2 {
  margin: 0 0 20px 0;
}

.threads ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.threads ul li {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.new-thread {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
}

.new-thread h2 {
  margin-bottom: 20px;
}

.new-thread form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-thread input {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
}

.new-thread button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #a4d3a2;
  border: none;
  color: #fff;
  cursor: pointer;
}

.new-thread button[type="button"] {
  background-color: #007bff;
}
